# Dependências (Nunca suba a node_modules!)
node_modules/

# Variáveis de Ambiente (Segurança!)
.env
.env.local

# Logs e Debug
npm-debug.log*
yarn-error.log*

# Sistema (macOS/Windows)
.DS_Store
Thumbs.db